<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamturtles.greenerme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePage_loggedout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAccPage" />
        <activity android:name=".LoginPage" />
        <activity android:name=".ItemsPage" />
        <activity android:name=".HomePage_loggedin" />
        <activity android:name=".ForgotAccPage" />
        <activity android:name=".FindItemsPage" />
        <activity android:name=".TakeQuizPage" />
        <activity android:name=".CheckPointsPage" />
        <activity android:name=".AboutAppPage" />
        <activity android:name=".ViewAccountPage" />
        <activity android:name=".CategoriesPage" />
        <activity android:name=".ItemDetailsPage" />
        <activity android:name=".temp_toremove" />
        <activity android:name=".QuizQuestionPage" />
        <activity android:name=".LeaderboardPage" />
        <activity android:name=".EndQuizPage" />
    </application>

</manifest>