<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamturtles.greenerme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.HomePage_loggedin_v2"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:screenOrientation="portrait" android:name=".ui.main.HomePage_loggedout"/>
        <activity android:screenOrientation="portrait" android:name=".ui.account.CreateAccPage" />
        <activity android:screenOrientation="portrait" android:name=".ui.account.LoginPage" />
        <activity android:screenOrientation="portrait" android:name=".ItemsPage" />
        <activity android:screenOrientation="portrait" android:name=".ui.main.HomePage_loggedin" />
        <activity android:screenOrientation="portrait" android:name=".ui.account.ForgotAccPage" />
        <activity android:screenOrientation="portrait" android:name=".temp_toremove$FindItemsPage">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:screenOrientation="portrait" android:name=".ui.quiz.TakeQuizPage" />
        <activity android:screenOrientation="portrait" android:name=".ui.points.CheckPointsPage" />
        <activity android:screenOrientation="portrait" android:name=".ui.main.AboutAppPage" />
        <activity android:screenOrientation="portrait" android:name=".ui.account.ViewAccountPage" />
        <activity android:screenOrientation="portrait" android:name=".ui.findItem.CategoriesPage" />
        <activity android:screenOrientation="portrait" android:name=".ui.findItem.ItemDetailsPage" />
        <activity android:screenOrientation="portrait" android:name=".temp_toremove" />
        <activity android:screenOrientation="portrait" android:name=".ui.quiz.QuizQuestionPage" />
        <activity android:screenOrientation="portrait" android:name=".ui.points.LeaderboardPage" />
        <activity android:screenOrientation="portrait" android:name=".ui.quiz.EndQuizPage" />
        <activity android:screenOrientation="portrait" android:name=".temp_toremove$ViewAnsPage" />
        <activity
            android:name=".ui.quiz.ViewAnsPage_v2"
            android:label="@string/title_activity_view_ans_page_v2"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>